<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <form action="/process_form" method="post">
        <label for="client_name">Client Name:</label>
        <input type="text" id="client_name" name="client_name" required><br>
        
        <label for="client_address">Client Address:</label>
        <input type="text" id="client_address" name="client_address" required><br>
        
        <label for="client_phone_no">Phone Number:</label>
        <input type="text" id="client_phone_no" name="client_phone_no" required><br>
        
        <label for="client_email">Client Email:</label>
        <input type="text" id="client_email" name="client_email" required><br>
        
        <label for="client_gstin">Client GST No:</label>
        <input type="text" id="client_gstin" name="client_gstin" required><br>
        
        <label for="place_of_supply">Place of Supply:</label>
        <input type="text" id="place_of_supply" name="place_of_supply" required><br>
        
        <label for="state_code">State Code:</label>
        <input type="text" id="state_code" name="state_code" required><br>
            
        
    
        <label for="client_name">Name of Service:</label>
        <input type="text" id="name_of_service" name="name_of_service" required><br>
        
        <label for="client_name">Container Number:</label>
        <input type="text" id="container_no" name="container_no" required><br>
        
        <label for="client_name">Size:</label>
        <input type="text" id="size" name="size" required><br>
        
        <label for="client_name">From Place:</label>
        <input type="text" id="from_place" name="from_place" required><br>
        
        <label for="client_name">To Place:</label>
        <input type="text" id="to_place" name="to_place" required><br>
        
        <label for="client_name">LR NO:</label>
        <input type="text" id="lr_no" name="lr_no" required><br>
        
        <label for="client_name">Amount:</label>
        <input type="text" id="amount" name="amount" required><br>
        
        <label for="gst_per">GST Percentage:</label>
        <input type="text" id="gst_per" name="gst_per" required><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
